body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
img{
    width: 200px;
    height: auto;
}
.main{
    margin-top: 30px
}
.title{
    font-size: 24px;
}
.price{
    font-size: 24px;
    font-weight: bold;
}
.description{
    font-weight: bold;
}
.created_at{
    font-size: 12px;
}