{% extends 'base.html' %}
{% block main %}
    <div class="main">
        {% if products %}
            <div class="row">
                {% for prod in products %}
                <div class="col-2">
                    <div class="box_image"><img src="{{prod.picture}}" alt="product"></div>
                </div>
                <div class="col-4">
                    <h3>{{prod.name}}</h3>
                    <p>{{prod.category.name}}</p>
                    <h3>Price: {{prod.price}}$</h3>
                    <a href="{% url 'product' prod.pk %}">see more>>></a>
                </div>
                 {% endfor %}
            </div>
        {% else %}
            <h2>Add products</h2>
        {% endif %}
    </div>
{% endblock %}