{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <div class="main">
            <form action="{% url 'product_edit' product.pk %}" method="POST">
                {% csrf_token %}
                     <div class="col-4">
                        <div class="row g-2 align-items-start">
                           <label for="title" class="form-label">Title</label>
                           <input name="text" type="text" class="form-control" id="title" value="{{product.name}}">
                        </div>
                     </div>
                <br>
                    <div class="col-4">
                        <div class="row g-2 align-items-start">
                           <label for="price" class="form-label">Price</label>
                           <input name="price" type="number" class="form-control" id="price" value="{{product.price}}">
                        </div>
                     </div>
                <br>
                     <div class="col-4">
                            <div class="row g-2 align-items-start">
                               <label for="png" class="form-label">Image url</label>
                               <input name="png" type="text" class="form-control" id="png" value="{{product.picture}}">
                            </div>
                         </div>
                <br>
                     <div class="col-4">
                            <div class="row g-2 align-items-start">
                                <label for="category" class="form-label">Category</label>
                                <select name="category" id="category">
                                    {% for el in choices %}
                                        <option value="{{el.name}}">{{ el.name }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                     </div>
                <br>
                    <div class="col-4">
                        <div class="row g-2 align-items-start">
                           <label for="description" class="form-label">Description</label>
                           <textarea name="textarea" class="form-control" id="description">{{product.description}}</textarea>
                        </div>
                     </div>
                <br>
                    <div class="col-3">
                        <button type="submit" class="btn btn-dark">Edit product</button>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}