{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-2">
                    <div class="box_image"><img src="{{product.picture}}" alt="product"></div>
                </div>
                <div class="col-4">
                    <p class="title">{{product.name}}</p>
                    <p>{{product.category.name}}</p>
                    <p class="price">Price: {{product.price}}$</p>
                    <p class="description">{{product.description}}</p>
                    <p class="created_at">Date created {{product.created_at}}</p>
                    <div class="row">
                        <div class="col-auto">
                            <a href="#" type="button" class="btn btn-primary"> Edit </a>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'product_delete' product.pk %}" type="button" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}